@charset "UTF-8";

.searchFlowerDetailDiv{
    margin: 0 auto;
	width: 1240px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.searchFlowerFlowerDetailDiv{
    width: 1200px;
    color: #466b55;
    font-weight: 600;
}
.searchFlowerDetailTitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: -30px;
}
.searchFlowerFlowerDate{
    display: flex;
    font-size: 30px;
    align-items: center;
}
.searchFlowerDetailFlowerKorName{
    display: flex;
    font-size: 40px;
    align-items: center;
}
.searchFlowerDetailFlowerOtherName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.searchFlowerDetailSectionLine{
    border-bottom: 1px solid black;
    margin: 15px;
}
.searchFlowerDetailSection{
	display: grid;
	grid-template-columns: 40px 340px 790px 40px;
    justify-content: center;
}
.searchFlowerDetailImgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchFlowerShowFlowerBigImg{
    display: flex;
    justify-content: center;
    width: 310px;
    height: 310px;
    align-items: center;
}
.searchFlowerShowFlowerSmallImg{
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 310px;
    /* height: 110px; */
    justify-content: center;
    align-items: center;
}
.searchFlowerShowFlowerImg{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.searchFlowerDetailSmallImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.searchFlowerFlowerContentDiv{
    height: 520px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchFlowerDetailFlowerLang{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}
.searchFlowerDetailFlowerContent{
    display: flex;
    width: 700px;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    padding: 15px;
}
.searchFlowerDetailFlowerTypeDiv,
.searchFlowerDetailFlowerGrowDiv,
.searchFlowerDetailFlowerUseDiv{
    display: flex;
    flex-direction: column;
    width: 720px;
    padding: 10px;
}
.searchFlowerDetailTitle{
    font-size: 20px;
    margin-bottom: 5px;
}
.searchFlowerDetailText{
    white-space: break-spaces;
}
.searchFlowerIcon{
	width:40px;
	height:40px;
	margin-top:200px;
	display: flex;
    align-items: center;
    justify-content: center;
}
#searchFlowerNextIcon:hover,
#searchFlowerBeforeIcon:hover,
#searchFlower_bigImg:hover,
#searchFlower_d_img1:hover,
#searchFlower_d_img2:hover,
#searchFlower_d_img3:hover{
	cursor: pointer;
}
/* 이미지 플래시효과 */
#searchFlower_d_img1:hover,
#searchFlower_d_img2:hover,
#searchFlower_d_img3:hover{
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.searchFlowerFlowerContentDiv::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.searchFlowerFlowerContentDiv::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #466b55; /* 스크롤바의 색상 */
    border-radius: 70px;
}

.searchFlowerFlowerContentDiv::-webkit-scrollbar-track {
    background: #466b5577;  /*스크롤바 뒷 배경 색상*/
    border-radius: 70px;
}
/* 익스프롤러 10이하 스크롤바 CSS  */
.searchFlowerFlowerContentDiv {
	width: 765px;
    scrollbar-face-color:#466b55;
    scrollbar-shadow-color:#dddddd;
    scrollbar-track-color: #466b5577;
   }
/*    모달 */
.closeModal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}  
.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: var(--bs-box-shadow-sm);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #0000009e;
}
.flowerModal-content{
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
   