@charset "UTF-8";


/* 메뉴 타이틀 */
.notice-Label {
	font-size: 35px;
	color: #466b55;
	margin: 30px 0 15px 100px;
	font-weight: bold;
}

.notice-DivLine {
	margin: 0 auto;
	width: 1240px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notice-TopBorder, .notice-BottomBorder {
	border: 4px solid #466B55;
	width: 100%;
	height: 60px;
	border-bottom: 0;
	border-radius: 20px 20px 0px 0px;
	
	
}

.notice-BottomBorder {
	border-bottom: 4px solid #466B55;
	border-top: 0;
	border-radius: 0px 0px 20px 20px;
	
	
}


/* noticeForm & noticeFormEdit  */

.noticeWrapper {
        width: 500px;
        position: relative;
        left: 25px;
        max-width: 100%;
        margin: 0 auto;
        outline: 2px solid #524638;
        outline: radius 10px;
        padding: 70px;
        border-radius: 10px;
        /* margin-top: 100px; */
        margin-top: 5px;
        height: 500px;
        
      }

      .noticetitle {
        font-weight: 800;
        font-size: 21px;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
      }
      .titlewrite {
        font-weight: 800;
        font-size: 21px;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
      }
      .noticetitlewrite {
        width: 500px;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
      }
      .revised {
        width: 500px;
        height: 300px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        
      }
      .w-btn-green {
        background-color: #77af9c;
        color: #000000;
        position: relative;
        padding: 30px 30px;
        border-radius: 15px;
        font-family: "paybooc-Light", sans-serif;
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        padding: 6px 6px;
        box-sizing: border-box;
        margin: 10px;
        border: 3px solid aliceblue;
        float: right;
        cursor: pointer;
      }

/* errorPage  */
.errorpage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 575px;
      }
      .errorpage img{
      max-width: 100%
      }
      
      
 /* noticeDetail  */    
   .noticemove-up {
        position: absolute;
        top: 50%; /* 위로 옮길 픽셀 단위의 값 */
        left: 58%;
        transform: translate(-50%, -50%);
        
      }
      .noticebtn_list{
      display: flex;
      justify-content: center;
      margin-left: 10px;
      }
      a {
   text-decoration: none;
}
.noticeDetailView {
   margin: 0 auto;
   width: 700px;
   margin-top:20px;
   height: 500px;
  
}
      


 /* noticeList  */ 
 
 .notice_area {
 	position: relative;
 	left:70px;
 	    height: 720px;
    width: 850px;
 }

.noticeOuter {
	width: 1000px;
	margin: auto;
}

.noticeListwrap {
	width: 850px;
	margin: 100px auto;
	height: 600px;
}


.notice_title {
	border-bottom: 1px solid #282A35;
}

.notice_list {
	margin: 20px 30px;
	min-height: 565px;
}

.notice_list>ul {
	border-bottom: 1px solid #f3f5f7;
	height: 50px;
	line-height: 50px;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.notice_list>ul.last {
	border: 0;
}

.notice_list>ul>li {
	margin: 0;
	padding: 0;
	text-align: center;
}

.notice_header {
	background: #77af9c;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
}

.notice_list .id {
	width: 60px;
}

.notice_list .category {
	width: 60px;
}

.notice_list .title {
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.notice_ul {
	margin: 0;
	padding: 0;
}
.notice_ul.date {
	width: 150px;
}
.notice_ul.count {
	width: 100px;
}
.notice_ul.no {
	width: 100px;
}

.onmouseover {
	background: #f3f5f7;
	cursor: pointer;
}

.notice_paging {
	height: 50px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	list-style: none;
	width: 480px;
	margin: auto;
}


.notice_paging a {
	text-decoration: none;
	color: #282A35;
	width: 40px;
	display: block;
	text-align: center;
}

.notice_paging a.current_page {
	border-bottom: 2px solid #282A35;
	font-weight: bold;
}

.noticesearch_area {
	text-align: center;
	padding: 5px;
}

.noticesearch_area select {
	width: 150px;
	height: 30px;
	border: 0px;
}

.noticesearch_area a {
	width: 100px;
    height: 35px;
    border: 0px;
    color: white;
    background: #282A35;
    margin: 5px;
}

.noticeinput_area {
	border: solid 1px #dadada;
	padding: 10px 10px 14px 10px;
	margin-right: 20px;
	background: white;
}

.noticeinput_area input {
	width: 250px;
	height: 30px;
	border: 0px;
}

.noticeinput_area input:focus, .search_area select:focus {
	outline: none;
}

.noticesearch_area button {
	width: 100px;
	height: 35px;
	border: 0px;
	color: white;
	background: #282A35;
	margin: 5px;
}

.notice-paging {
    /* background: skyblue; */
    /* position: absolute; */
    /* top: 935px; */
    /* z-index: 10; */
    display: flex;
    font-family: 'Cafe24SsurroundAir';
    font-size: larger;
    font-weight: bold;
    /* margin-left: 300px; */
    margin-top: 30px;
    align-items: center;
    justify-content: center;
 
}
.notice-paging a {
	text-decoration: none;
	margin: 0 5px;
	color: #D9D9D9;
}
#notice-pagingnumbs-selected {
	color: #466b55;
}
   



