.pdLabel {
	font-size: 35px;
	color: #466b55;
	margin: 30px 0 15px 100px;
	font-weight: bold;
}

.pdDivLine {
	margin: 0 auto;
	width: 1240px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pdTopBorder {
	border: 4px solid #466B55;
	width: 100%;
	height: 60px;
	border-bottom: 0;
	border-radius: 20px 20px 0px 0px;
}

.pdBottomBorder {
	border: 4px solid #466B55;
	width: 100%;
	height: 60px;
	border-top: 0;
	border-radius: 0px 0px 20px 20px;
	z-index: 1;
}

.pdDetailArea {
    width: 1200px;
    margin-top: -30px;
    overflow-y: auto;
    overflow-x: none;
    height: 660px;
    margin-bottom: -30px;
    z-index: 2;
}

.pdDetail-1row {
	font-size: 25px;
	font-weight: bolder;
	margin-left: 60px;
}
.pdDetail-2row {
	margin-top: 12px;
	font-size: 20px;
	margin-left: 60px;
	
	display: flex;
}
.pdDetail-2row>:first-child {
	margin-left: 10px;
}
.pdDetail-2row>:not(:last-child) {
	margin-right: 22px;
} 
.pdDetail-writer {
	text-align: right;
	
	/* 작성자만 오른쪽 끝에 정렬하기위해 부모에 display:flex를 줌 */
	margin-left: auto;
	margin-right: 65px;
}

.pdDetail-3row { 
	max-height: auto;
	margin: 20px auto;
	max-width: 900px;
}

.pdDetail-3row>img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    margin: 0 auto;
}

.pdDetail-4row {
	text-align: center;
	margin-bottom: 20px;
}

.pdDetail-5row {
	width: 90%;
	margin-left: 60px;
	line-height: 210%; /* 줄간격 조정 */
}

.pdDetail-6row {
	width: 90%;
	margin-left: 60px;
}

.pdDetail-6row span {
	color: #2d7710;
}

.pdDetail-7row {
	width: 90%;
	text-align: right;
	margin-top: 10px;
	margin-left: 40px;
	/* background: skyblue; */
}

.pdDetail-7row button{
margin-left: 8px;
    width: 100px;
    height: 40px;
    text-align: center;
    background: #e0f4de;
    font-family: 'Cafe24SsurroundAir';
    font-size: 19px;
    font-weight: border;
    border: none;
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
}

.pdDetail-7row button:hover
, #pdCommentFormBtns input[type=submit]:hover
, #pdResetCommentbtn:hover {
	/* box-shadow: 0 0 0 2px #466b55 inset; */
	box-shadow: 0 0 0 2px orange inset;
}

.pdCommentArea {
	margin: 45px 20px 10px 60px;
    position: relative;
    z-index: 5;
}

.pdCommentArea h4 {
	font-size: larger;
}
.pdCommentArea table {
	width: 95%;
	table-layout: fixed; /* 테이블 너비 고정 */
	
	border-top: 1px solid #444444;
    border-collapse: collapse;
}
.pdCommentArea table tr{
	padding: 5px;
}
.pdCommentArea table td{
	padding: 5px;
	margin-right: 10px;
	
	border-bottom: 1px solid #444444;
    padding: 10px;
}

/* tr의 첫번째, 마지막 td의 너비 고정하고 중간 td는 남는 영역 전부 차지하게함 */
.pdCommentArea table tr td:first-child {
    width: 110px;
    
    /* 긴댓글줄바꿈으로 인해 댓글영역의 높이가 커졌을때 자식요소인 (텍스트)닉네임은 수직중앙정렬이 아닌 위쪽 정렬하게 함 */
    vertical-align : top;
    padding-top: 15px;
}
.pdCommentArea table tr td:last-child {
    width: 100px;
    text-align: right;
    margin-right: 40px;
    
    /* 긴댓글줄바꿈으로 인해 댓글영역의 높이가 커졌을때 자식요소인 버튼은 수직중앙정렬이 아닌 위쪽 정렬하게 함 */
    vertical-align : top;
    padding-top: 15px;
}
.pdCommentArea table tr td:nth-child(2) {
	line-height: 180%;
    width: auto; /* 너비를 자동으로 설정 */
    white-space: normal; /* 텍스트 내용이 넘칠 때 줄바꿈 허용 */
    text-overflow: clip; /* 내용이 넘칠 때 생략 기호 표시하지 않음 */
}

.pdCommentArea table tr td button{
	/* padding: 6px 10px 4px 10px; */
	font-family: 'Cafe24SsurroundAir';
	font-size: 16px;
	border-radius: 5px;
	border: none;
}

.pdCommentPickBtn {
	background: #F2F9EF !important;
	border: 0.5px solid #466B55 !important;
	padding: 4px 5px 3px 5px;
}

.pdCommentDelBtn {
	font-size: 30px;
    border: 0 !important; /* 강제 우선적용 */
    outline: none; 
    background: none; 
    cursor: pointer; 
    margin-right: 20px;
}

#pdDommentValidationMsg {
	font-size: 12px;
	color: orange;
}

.pdCommentWriteArea {
    margin-top: 24px;
}

#pdCommentWriter{
	height: 100%;
    padding: 10px 0 0 10px; /* 위, 왼 */
}

.pdPen {
	width: 30px;
}

#pdCommentValue {
	height: 120px;
    resize: none; /* textarea 크기 고정 */
	width: 880px;
	grid-column: 2 / span 2; /* 2번째 열에서 시작하여 2열 다 차지하게함 */
	margin: 10px 0 0 10px;
	
	font-size: 17px;
	font-family: 'Cafe24SsurroundAir';
	padding: 10px;
	
	outline-color: orange; /* focus된 입력창의 테두리색 변경 */
	overflow-y: auto;
}

#pdCommentValue+div {
	width: 857px;
	margin-left: 51px;
	/* 자식요소를 부모요소의 양 끝에 위치하도록 함 */
	display: flex;
    justify-content: space-between;
}

#pdCommentForm {
	position: relative; 
    z-index: 10; 
    width: 95%;
    
    display: grid;
    grid-template-rows: repeat(1, 1fr); /* 1행 */
    grid-template-columns: 130px 1fr auto auto; /* 4열 */
    
    font-size: 16px;
}

/* 댓글 등록, 취소 버튼 */
/*#pdCommentFormBtns {
    grid-column: 4;  4열에 위치하게 함 
    margin-right: 5px;
    margin-top: 0px;
    float: right;
}*/

#pdCommentFormBtns input {
	cursor: pointer;
}

#pdCommentFormBtns input {
	background: #e0f4de !important;
	border: none;
	padding: 10px 17px 8px;
    border-radius: 5px;
	font-size: 16px;
	font-family: 'Cafe24SsurroundAir';
	margin-left: 8px;
}

#pdPen {
	width: 30px;
}

#pdMoveCommentTopImg {
	width: 27px;
	margin-top: -5px;
}

#pdMoveCommentTopImg+sup {
	margin-left: 7px;
	margin-top: 20px;
	font-weight: bolder;
	color: gray;
	font-size: 14px;
}

.pdMoveTopOfPageDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pdMoveTopOfPageAnchor {
	position: relative;
	z-index: 15;
}

#pdMovePageTopImg {
	width: 40px;
	height: 12px;
	margin-top: 15px;
}
#pd_comm_label{
word-break:break-all;
}
.pdMoveTopOfPageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}