.peLabel {
	font-size: 35px;
	color: #466b55;
	margin: 30px 0 15px 100px;
	font-weight: bold;
}

.peDivLine {
	margin: 0 auto;
	width: 1240px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.peTopBorder {
	border: 4px solid #466B55;
	width: 100%;
	height: 60px;
	border-bottom: 0;
	border-radius: 20px 20px 0px 0px;
}

.peBottomBorder {
	/* 원하는 위치에 배치하기 위해 절대값으로 지정 */
	position: absolute;
	top: 890px; 
	width: 1246.67px;
	z-index: 1;
}

.peFormSection {
	width: 70%;
	height: 600px;
	/* height: 575px; */
	margin-top: -45px;
}

.peFormSection>h2 {
	margin-left: 40px;
	margin-top: 35px;
}

.peInputArea {
	margin-top: -15px;
	width: 100%;
	height: 590px;
	font-size: 18px;
	overflow-y: auto; /* ul에 스크롤 생기게 하면 수정폼에서 문제 생김 */
}

.peInputArea li {
	list-style: none;
	margin-bottom: 10px;
}

.peInputArea li>label {
	margin-right: 10px;
}

.peInputArea b {
	color: orange;
}

.peFormTitle,
.peFormContent,
.pePlantsName {
    background: #F2F9EF;
    border: 0.5px dashed #466b55;
	margin-top: 5px;
    font-family: 'Cafe24SsurroundAir';
    outline-color: orange;
}

.peFormTitle  {
	font-size: 18px;
	width: 89%;
	height: 30px;
	padding: 0 10px;
}

.peFormContent {
	width: 722px;
    height: 300px;
    resize: none; /* textarea 크기 고정 */
	font-size: 18px;
	padding: 10px;
}

.pePlantsName {
	height: 30px;
    width: 150px;
    font-size: 18px;
    font-family: 'Cafe24SsurroundAir';
    padding-left: 10px;
}

#keywordId {
	background: #F2F9EF;
    border: 0.5px dashed #466b55;
	margin-top: 5px;
    width: 150px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px; 
	font-family: 'Cafe24SsurroundAir';
	outline-color: orange;
}

.peFormContent::placeholder {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}

.peTitleValidationMsg, .peContentValidationMsg {
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: orange;
	margin-top: 8px;
}

.peContentValidationMsg {
	margin-top: 3px;	
}

.peFileSection {
	width:744px;
}

.peSelectedFileName {
	background: #F2F9EF;
    border: 0.5px dashed #466b55;
    height: 30px;
    width: 600px;
    font-size: 18px;
    font-family: 'Cafe24SsurroundAir';
    padding-left: 10px;
    color: gray;
    outline-color: orange;
}

.peCustomFileBtn {
	display: inline-block;
	cursor: pointer;
    padding: 9px;
    height: 20px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #e0f4de;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    margin-right: 0 auto;
    margin-top: 8px;
    margin-left: 6px;
}

.peFormImgPreview, #peFormImgExisting {
	margin-top: 15px;
	border: 3px solid orange;
	max-width: 400px;
	height: auto;
}

.peFormBtn {
	margin-left: -10px;
	margin-top: -40px;
	text-align: center;
}

.peFormBtn input {
	/* z값을 주기 위해 position:relative로 지정 */
    position: relative;
    z-index: 10; 
    background: transparent; /* 배경을 투명하게 */
    cursor: pointer;
    
    padding: 9px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #e0f4de;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-size: 19px;
}

.peFormBtnforwrite {
	margin-top: 28px;
}

.peFormBtnforedit {
	margin-top: 15px;
}

#keywordList {
	display: flex;
	padding: 0;
}

.peKeywordAddBtn {
	width: 100px;
	border: none;
    border-radius: 5px;
    background-color: #e0f4de;
	height: 35px;
	font-family: 'Cafe24SsurroundAir';
	font-size: 18px;
	padding: 8px;
	cursor: pointer;
}

.remove-button {
	cursor: pointer;
	color: red;
	margin-right: 20px;
}

.checkboxKeyword {
	display: none;
}

.peKeywordAddBtn:hover,
.peCustomFileBtn:hover,
.peFormBtn input:hover {
	box-shadow: 0 0 0 2px orange inset;
}