.pfLabel {
	font-size: 35px;
	color: #466b55;
	margin: 30px 0 15px 100px;
	font-weight: bold;
}

.pfDivLine {
	margin: 0 auto;
	width: 1240px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pfTopBorder {
	border: 4px solid #466B55;
	width: 100%;
	height: 60px;
	border-bottom: 0;
	border-radius: 20px 20px 0px 0px;
}

.pfBottomBorder {
	/* 원하는 위치에 배치하기 위해 절대값으로 지정 */
	position: absolute;
	top: 890px; 
	width: 1246.67px;
	z-index: 1;
}

.pfFormSection {
	width: 70%;
	height: 600px;
	/* height: 575px; */
	margin-top: -45px;
}

.pfFormSection>h2 {
	margin-left: 40px;
	margin-top: 35px;
}

.pfInputArea {
	margin-top: -15px;
	width: 100%;
	height: 590px;
	font-size: 18px;
	overflow-y: auto; /* ul에 스크롤 생기게 하면 수정폼에서 문제 생김 */
}

.pfInputArea li {
	list-style: none;
	margin-bottom: 10px;
}

.pfInputArea li>label {
	margin-right: 10px;
}

.pfInputArea b {
	color: orange;
}

.pfFormTitle,
.pfFormContent {
    background: #F2F9EF;
    border: 0.5px dashed #466b55;
	margin-top: 5px;
}

.pfFormTitle  {
	font-size: 18px;
	width: 89%;
	height: 30px;
	padding: 0 10px;
	font-family: 'Cafe24SsurroundAir';
}

.pfFormContent {
	width: 722px;
    height: 300px;
    resize: none; /* textarea 크기 고정 */
	font-size: 18px;
	padding: 10px;
}

.pfFormContent::placeholder {
	font-family: 'Cafe24SsurroundAir';
	font-weight: bolder;
}

.pfTitleValidationMsg, .pfContentValidationMsg {
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: orange;
	margin-top: 8px;
}


.pfContentValidationMsg {
	margin-top: 3px;
	
}

.pfFileSection {
	width:744px;
}

.pfSelectedFileName {
	background: #F2F9EF;
    border: 0.5px dashed #466b55;
    height: 30px;
    width: 600px;
    font-size: 18px;
    font-family: 'Cafe24SsurroundAir';
    padding-left: 10px;
}

/*
.pfFormImgInput {
	width: 90%;
	border: none;
	cursor: pointer;
	margin-top: 5px;
	font-size: 16px;
}
*/

.pfCustomFileBtn {
	display: inline-block;
	cursor: pointer;
    padding: 9px;
    height: 20px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #e0f4de;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    margin-right: 0 auto;
    margin-top: 8px;
    margin-left: 6px;
}

.pfFormImgPreview, #pfFormImgExisting {
	margin-top: 15px;
	border: 3px solid orange;
	max-width: 400px;
	height: auto;
}

.pfFormBtn {
	margin-left: -10px;
	margin-top: -40px;
	text-align: center;
}
.pfFormBtn input {
	/* z값을 주기 위해 position:relative로 지정 */
    position: relative;
    z-index: 10; 
    background: transparent; /* 배경을 투명하게 */
    cursor: pointer;
    
    padding: 9px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #e0f4de;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-size: 19px;
}

.pfFormBtnforwrite {
	margin-top: 28px;
}

.pfFormBtnforedit {
	margin-top: 15px;
}

.pfPlantsName {
	height: 35px;
	border-radius: 12px;
	font-family: 'Cafe24SsurroundAir';
}

#keywordList {
	display: flex;
	padding: 0;
}

#pfKeyword {
	height: 35px;
	border-radius: 12px;
	font-family: 'Cafe24SsurroundAir';
}

.pfKeywordAddBtn {
	height: 35px;
	border-radius: 12px;
	font-family: 'Cafe24SsurroundAir';
	cursor: pointer;
}

.pfRemove-button {
	cursor: pointer;
	color: red;
	margin-right: 20px;
}

.pfCheckboxKeyword {
	display: none;
}